<div id="footer">
    <div class="footer-deco">
       <h3>VISIT US</h3>
       <p>CodeSquad Comic<br>
       123 Dorchester Avenue<br>
       Boston, MA 02124</p>
    </div>
  
    <div class="footer-deco">
       <h3>LINKS</h3>
       <a href="/" >Home</a><br>
       <a href="/about" >About</a><br>
       <a href="/login">Login</a><br>
    </div>

   <div class="footer-deco">
          <h3>FOLLOW US</h3>
          <div class="social-icons">
          <a href="https://www.facebook.com/nunnyzill" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/zvnoonny/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/FitzgeraldNoon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
          </div>
  
        </div>
  
    <div class="footer-deco">
       <h3>A PRODUCT OF</h3>
       <a href="http://codesquad.org/" target="_blank" rel="noopener noreferrer" ><img src="./images/CodeSquad-logo-b.png" alt="CodeSquad-logo"></a>
    </div>
  </div>
  
        
  </body>
  </html>