<nav class="nav-bar">
    <a href="/"><img src="/images/CodeSquad-Comics-logo.png" alt=""></a>
      <ul>
         <li><a href="/">HOME</a></li>
         <li><a href="/about">ABOUT</a></li>
         <li><a href="/login" >LOGIN</a></li>
         <li><a href="/register" >REGISTER</a></li>
      </ul>
      <i class="fa fa-bars fa-xl" ></i>
 </nav>