<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>


<div class="background-page">
   <div class="create-content">
<h1>CREATE NEW COMIC</h1>

<form action="/books" method="POST">

<label for="image"></label>  
<input type="file" name="image" id="image"  accept="image/png, image/jpeg" >


<label for="title">Title:</label>
<input type="text" name="title" id="title"  placeholder="Tittle" required>


<label for="author">Author:</label>
<input type="text" name="author" id="author"   placeholder="author" required>

<label for="publisher">Publisher:</label>
<select name="publisher" id="publisher">
    <option value="blank" disabled selected>Select</option>
    <option value="boomBox">&#10004; BOOM! Box</option>
    <option value="DCComics">&#10004; DC Comics</option>
    <option value="mariner">&#10004; Mariner Books</option>
    <option value="harry">&#10004; Harry N. Abrams</option>
    <option value="Icon">&#10004; Icon Books</option>
    <option value="ImageComic">&#10004; Image Comics</option>
    <option value="Marvel">&#10004; Marvel</option>
    <option value="Simon&schu">&#10004; Simon & Schuster</option>
    <option value="topShelf">&#10004; Top Shelf Productions</option>
    <option value="VizMedia">&#10004; VIZ Media LLC</option>
</select>

<label for="genre">Genre:</label>
<input type="text" name="genre" id="genre"  placeholder="Genre">

<label for="numpages">Number of pages:</label>
<input type="number" name="numpages" id="numpages"  placeholder="Number of pages">

<label for="rating">Rating:</label>
<input type="number" name="rating" id="rating" min="1" max="4" placeholder="Rating">

<label for="synopsis">Synopsis:</label>
<textarea name="synopsis" id="synopsis" cols="20" rows="3"  placeholder="Synopsis"></textarea>


 <input type="submit" id ="create-button"  value="Submit" />


</form>


</div>
</div>

<%- include('../partials/footer') -%>